/* general */

html{height: 100%;}
body {margin:0;padding:0;
height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;}

.blockleft {text-align:left}
.blockright {text-align:right}
.blockcentre {text-align:center}

.icon {font-family:"Chalkdust icon font"; font-weight:normal;color:#DDDDDD;padding-right:2vh}
.icon.twitter {color:#1D9BF0}
.icon.mastodon {color:#6364FF}

img.top-half {position:absolute;height:48vh;top:1vh;left:50vw;transform:translate(-50%,0);}
img.full-slide {position:absolute;height:99vh;top:1vh;left:50vw;transform:translate(-50%,0);}

/* title */
body.title {background-color:#000000; color:#FFFFFF}
body.title .title {text-align:center;font-size:15vh;font-family:Raleway;font-weight:600;position:absolute;top:10vh;left:10vw;right:10vw}
body.title .author {font-size:5vh;font-family:Raleway;font-weight:600;position:absolute;top:50vh;left:35vw;right:35vw;text-align:center}

/* final */
body.final {background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #000000 50%, #000000 100%);color:#FFFFFF}
body.final .title {text-align:center;font-size:10vh;font-family:Raleway;font-weight:600;position:absolute;top:55vh;left:10vw;right:10vw}
body.final .author {font-size:5vh;font-family:Raleway;font-weight:600;position:absolute;top:70vh;left:35vw;right:35vw;text-align:center}
